<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>weChat后台权限管理系统</title>
	<meta name="keywords" content="wechat" />
	<meta name="description" content="wechat" />
	<link rel="stylesheet" href="public/css/welcome.css">

<body>
<div class="reveal"><%= text %></div>
<footer style="position: absolute;bottom: 0px;color: #6ee1f5;"><%= footer %></footer>
<script src="public/js/welcome.js"></script>
</body>

</html>
